<ion-view title="Alerts" id="page8">
  <ion-content padding="false" class="has-header">
    <ion-list id="alerts-list8">
      <ion-item class="item-divider" id="alerts-list-item-divider8"> This Week</ion-item>        
      <ion-item class="item-avatar" id="alerts-list-item42">
	<img src="img/t_pzvyZZ_400x400.jpg"/>
	<h2>Scruff McGruff is feeling low</h2>
      </ion-item>
      <ion-item class="item-avatar" id="alerts-list-item43">
	<img src="img/7rXwLyEf.jpg"/>
        <h2>G.I. Joe is feeling low</h2>
      </ion-item>
      <ion-item class="item-divider" id="alerts-list-item-divider9"> This Month</ion-item>
      <ion-item class="item-avatar" id="alerts-list-item44">
	<img src="img/7rXwLyEf.jpg"/>
        <h2>G.I. Joe has been feeling low</h2>
      </ion-item>
      <ion-item class="item-avatar" id="alerts-list-item45">
	<img src="img/4b0e1ca87f044d18fa5dbc27b7182994.jpg"/>
        <h2>Miss Frizzle has been feeling low</is>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
