<ion-view title="Connect" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="connect-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="connect-slide24" style="background:url(&quot;img/mYGmUTQYTSeYMo9Xd4dG_twitter-analyst.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="connect-slide25" style="background:url(&quot;img/fO85iQBTAugdStarpNkF_google-map-background-1900x1170.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="connect-slide26" style="background:url(&quot;img/8bfrOgBQRZxkcLTV7btq_6360291658542740261162409767_friends-images-23.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h1 id="connect-heading1" style="color:#000000;">Welcome!</h1>
    <div id="connect-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Connect using Twitter account to start!</p>
    </div>
    <div class="spacer" style="height: 80px;"></div>
    <form id="connect-form1" class="list">
      <label class="item item-input" id="connect-input2">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
	<label class="item item-input" id="connect-input2">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <button id="connect-button1" class="button button-positive  button-block">Connect!</button>
    </form>
  </ion-content>
</ion-view>
