<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view  title="{{friend.name}}" id = "page10">
  <ion-content ng-controller="friendDetailCtrl" has-header="true" padding="true">
        <canvas id="base" class="chart-bar"
  chart-data="data" chart-labels="labels" chart-colors="colors"
  chart-dataset-override="datasetOverride" >
</canvas> 
  </ion-content>
</ion-view>

