<ion-view title="Sentiment" id="page9">
  <ion-content padding="false" class="has-header">
    <form id="sentiment-form3" class="list">
      <label class="item item-select" id="sentiment-select1">
        <span class="input-label">Time Range</span>
        <select>
          <option>1 Week</option>
          <option>1 Month</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/C4rTRrK2RqJ1oMtG7Xsi_Line-chart.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="sentiment-list2">
      <ion-item class="item-divider" id="sentiment-list-item-divider3"> Summary</ion-item>
      <ion-item class="item-avatar" id="sentiment-list-item9">
        <h2>Your friend ...</h2>
        <p>feels...</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>