<ion-view title="Status" id="page4">
  <ion-content padding="false" class="has-header">
    <ion-list id="status-list4">
      <ion-item class="item-divider" id="status-list-item-divider4"> This week</ion-item>
      <ion-item class="item-icon-left assertive" id="status-list-item16">
        <i class="icon ion-heart"></i>15 friends feel great</ion-item>
      <ion-item class="item-icon-left royal" id="status-list-item17">
        <i class="icon ion-heart-broken"></i>6 friend feels bad</ion-item>
      <ion-item class="item-icon-left positive" id="status-list-item18">
        <i class="icon ion-android-contact"></i>20 friends feel neutral</ion-item>
    </ion-list>
    <ion-list id="status-list5">
      <ion-item class="item-divider" id="status-list-item-divider5"> This month</ion-item>
      <ion-item class="item-icon-left assertive" id="status-list-item19">
        <i class="icon ion-heart"></i>5 friends feel great</ion-item>
      <ion-item class="item-icon-left royal" id="status-list-item20">
        <i class="icon ion-heart-broken"></i>1 friends feel bad</ion-item>
      <ion-item class="item-icon-left positive" id="status-list-item21">
        <i class="icon ion-android-contact"></i>35 friends feel neutral</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
