<ion-view title="Tweet" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="tweet-card21">
      <ion-item class="item-avatar" id="tweet-list-item7">
        <h2>Friend Name</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="tweet-list-item-container2">
        <div id="tweet-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">What the friend said...</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="tweet-list-item8">
        <i class="icon ion-heart"></i>Sentiment Score</ion-item>
    </div>
  </ion-content>
</ion-view>